@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #F5FCDF;
  --text-color: #F9FAD9;
  --text-light-color:#262A1D;
  --btn-bg: #83A439;
  --btn-text: #F9FAD9;
}

.dark {
  --bg-color: #000000;
  --text-color: #F2FFE2;
  --btn-bg: #9AD97B;
  --btn-text: #F2FFE2;
    --text-light-color:#F2FFE2;

}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: "Inter", sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.btn-primary {
  @apply px-4 py-2 rounded-md font-medium transition;
  background-color: var(--btn-bg);
  color: var(--btn-text);
}
